<a href="https://colab.research.google.com/github/dan-a-iancu/OIT248/blob/main/BlueSky_RM/BlueSky_Airlines_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Blue Sky Airlines mini-case

____
# Basic Setup

Import useful modules, read the data and store it in data frames, and set up some useful Python lists. You may want to expand this section and make sure you understand how the data is organized, and also read the last part where the Python lists are created, as these may be very useful when you build your model.

In [1]:
#@markdown We first import some useful modules.

# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# import numpy
import numpy as np
import urllib.request  # for file downloading

# Import pandas for data-frames
import pandas as pd
pd.options.display.max_rows = 15
pd.options.display.float_format = "{:,.2f}".format

from IPython.display import display

# Make sure Matplotlib runs inline, for nice figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)
import matplotlib.ticker as ticker

# install Gurobi (our linear optimization solver)
!pip install -i https://pypi.gurobi.com gurobipy
from gurobipy import *

print("Completed successfully!")

Looking in indexes: https://pypi.gurobi.com
Collecting gurobipy
  Downloading gurobipy-10.0.3-cp310-cp310-manylinux2014_x86_64.whl (12.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 81.6 MB/s eta 0:00:00
Installing collected packages: gurobipy
Successfully installed gurobipy-10.0.3
Completed successfully!

## Load the case data into Pandas data frames

We first download an Excel file with all the data from Github.

In [ ]:
#@markdown Download the entire data as an Excel file from Github

url_Excel = 'https://github.com/dan-a-iancu/airm/blob/master/BlueSky_RM/BlueSky_Data.xlsx?raw=true'
local_file = "BlueSky_Data.xlsx"   # name of local file where you want to store the downloaded file
urllib.request.urlretrieve(url_Excel, local_file)    # download from website and save it locally

('BlueSky_Data.xlsx', <http.client.HTTPMessage at 0x7f310e991050>)

Read in and store the data in suitable dataframes.

In [ ]:
#@markdown Create dataframes based on the Excel file

# Read in all the information about the itinerarys sold, and the aircraft capacities
itineraryData = pd.read_excel("BlueSky_Data.xlsx", sheet_name = "Itinerary_data", index_col=0)
display(itineraryData)

aircraftData = pd.read_excel("BlueSky_Data.xlsx", sheet_name = "Aircraft_data", index_col=0)
display(aircraftData)

         Q_Fare  Y_Fare  ...  ORD_SFO_Flight  ORD_LAX_Flight
BOS_ORD     200     220  ...               0               0
BOS_SFO     320     420  ...               1               0
BOS_LAX     400     490  ...               0               1
JFK_ORD     250     290  ...               0               0
JFK_SFO     410     540  ...               1               0
JFK_LAX     450     550  ...               0               1
ORD_SFO     210     230  ...               1               0
ORD_LAX     260     300  ...               0               1

[8 rows x 8 columns]

                Capacity
BOS_ORD_Flight       200
JFK_ORD_Flight       200
ORD_SFO_Flight       200
ORD_LAX_Flight       200

## Create Python lists based on the data-frames

__NOTE__: Make sure you understand what the __lists__ created here are! These will be very helpful when creating the model.

In [ ]:
#@markdown Create useful lists
numODPairs = len(itineraryData)               # number of origin-destination (O-D) pairs used for itinerarys
allODPairs = list(itineraryData.index)        # a list with all the O-D pairs (rows in itineraryData)
numFlights = len(aircraftData)             # number of distinct flights/legs operated by the Airline
allFlights = list(aircraftData.index)      # a list with all the flights operated (rows in aircraftData)

# have a look
print(allODPairs)
print(allFlights)

['BOS_ORD', 'BOS_SFO', 'BOS_LAX', 'JFK_ORD', 'JFK_SFO', 'JFK_LAX', 'ORD_SFO', 'ORD_LAX']
['BOS_ORD_Flight', 'JFK_ORD_Flight', 'ORD_SFO_Flight', 'ORD_LAX_Flight']

<font color=red>**IMPORTANT HINT.**</font> When defining your **decision variables** in this model, you may want to consider *matrices* (or grids) of decision variables instead of a simple list like we've created before. Specifically, you may want to add a decision variable for every pair of elements where the first element is from one list and the second element is from another list.

When the decision variables are organized in a grid, it's significantly easier to use the ``addVars`` function to add all of the decision variables to the model at once. The function ``addVars`` can take as arguments several lists, e.g., `addVars(list1, list2, list3,...)`, in which case it will return one decision variable for every possible tuple of values. These decision variables will be stored as a dictionary, with the dictionary keys corresponding to the tuple of values.

For instance, suppose `list1 = ["Paris", "Budapest", "Beijing"]` and `list2= [1,2]`. Then `myDecisions = addVars(list1,list2)` would return a dictionary containing one decision for every pair, i.e., ("Paris",1), ("Paris",2), ("Budapest",1), ("Budapest",2), etc. To access the decision corresponding to the pair ("Paris",1), we can simply use `myDecisions[("Paris",1)]` or `myDecisions["Paris",1]`.

# Q1.
## Model

In [ ]:
m = Model("Blue Sky Airline Model")

Set parameter Username
Academic license - for non-commercial use only - expires 2024-10-01

## Decision Variables
We have one decision for every possible "ticket type" sold, i.e., every origin-destination-fare class. We can denote these by $Q[i]$ and $Y[i]$ respectively, for the number of tickets sold in Q-class and Y-class, respectively, on the itinerary $i$, where $i$ belongs to the list of itineraries, ['BOS_ORD', 'BOS_SFO', 'BOS_LAX', 'JFK_ORD', 'JFK_SFO', 'JFK_LAX', 'ORD_SFO', 'ORD_LAX']

In [ ]:
# one decision for each booking limit, i.e., how many itinerarys of each type to sell (these are 'sales')
Q_tickets_sold = m.addVars( all_itineraries, name ="Q_sales" )
Y_tickets_sold = m.addVars( all_itineraries, name ="Y_sales" )

## Objective
The objective is to maximize total revenue.

In [ ]:
# revenues are given by sales of all the itinerarys at correct fares
revenue = quicksum( Q_tickets_sold[i]*itineraryData.loc[i,"Q_Fare"] for i in all_itineraries ) + \
quicksum( Y_tickets_sold[i]*itineraryData.loc[i,"Y_Fare"] for i in all_itineraries )

# set the objective
m.setObjective(revenue, GRB.MAXIMIZE)

## Constraints
The first set of constraints is that the tickets sold on a specific itinerary cannot exceed the demand for that itinerary. Mathematically:
\begin{align}
  Q[i] \leq \text{Q_demand}[i] \\
  Y[i] \leq \text{Y_demand}[i]
\end{align}
where $\text{Q_demand}[i]$ and $\text{Y_demand}[i]$ correspond to the Q-class and Y-class demand for tickets given in the itinerary data.

In [ ]:
# demand constraints: cannot sell more than the demand for each itinerary - fare class
demand_constraints = {}
for i in all_itineraries:
    # Q-class
    cons_name = "itineraries_" + i + "_Q"
    demand_constraints[cons_name] = m.addConstr( Q_tickets_sold[i] <= itineraryData.loc[i,"Q_Demand"], \
                                                name = cons_name)

    # Y-class
    cons_name = "itineraries_" + i + "_Y"
    demand_constraints[cons_name] = m.addConstr( Y_tickets_sold[i] <= itineraryData.loc[i,"Y_Demand"], \
                                                name = cons_name )

The second set of constraints correspond to having enough seats on the flights to accomodate all the passengers with tickets. We have 4 flights, and we need to write one constraint for each flight, i.e., for each element of the list `all_flights`. For a given flight, we need to add all the tickets/itineraries that utilize that flight, and the total sum must not exceed the plane capacity.

One option is to do the summation in a very careful way. For instance, for the flight **BOS-ORD**, we would need to add up all the itineraries that use this flight, i.e., **BOS-ORD**, **BOS-SFO**, **BOS-LAX**, in both Q-class and Y-class.

A second option (far simpler!!) is to use the columns `BOS_ORD_Flight`,	`JFK_ORD_Flight`, `ORD_SFO_Flight`, `ORD_LAX_Flight` from the `itineraryData` DataFrame, which contain 1 for the rows/itineraries that use the flight and 0 otherwise. With this, we can simply add over all the rows/itineraries and multiply with these 0/1 indicators, which allows us to sum up only the terms/tickets that actually use up the respective flight.

In [ ]:
# capacity constraints: one for each individual flight operated
flight_constraints = {}
for f in all_flights :
    # f denotes a particular flight, i.e., a row in 'aircraftData'

    # calculate how many itineraries were sold that require seats on that flight
    # NOTE. Here, we just add over ALL itineraries, but we multiply with the 0/1 indicators
    m.addConstr( quicksum( (Q_tickets_sold[i] + Y_tickets_sold[i])*itineraryData.loc[i,f] \
                          for i in all_itineraries ) \
                           <= aircraftData.loc[f,"Capacity"], name = f )

## Print out and inspect the model

In [ ]:
m.write("BlueSky.lp")  # write model information to an .ilp file
f = open("BlueSky.lp", 'r')    # open a file handle
print( f.read() )           # read the contents and print them
f.close()              # close the file handle

\ Model Blue Sky Airline Model
\ LP format - for model browsing. Use MPS format to capture full model detail.
Maximize
  200 Q_sales[BOS_ORD] + 320 Q_sales[BOS_SFO] + 400 Q_sales[BOS_LAX]
   + 250 Q_sales[JFK_ORD] + 410 Q_sales[JFK_SFO] + 450 Q_sales[JFK_LAX]
   + 210 Q_sales[ORD_SFO] + 260 Q_sales[ORD_LAX] + 220 Y_sales[BOS_ORD]
   + 420 Y_sales[BOS_SFO] + 490 Y_sales[BOS_LAX] + 290 Y_sales[JFK_ORD]
   + 540 Y_sales[JFK_SFO] + 550 Y_sales[JFK_LAX] + 230 Y_sales[ORD_SFO]
   + 300 Y_sales[ORD_LAX]
Subject To
 itineraries_BOS_ORD_Q: Q_sales[BOS_ORD] <= 25
 itineraries_BOS_ORD_Y: Y_sales[BOS_ORD] <= 20
 itineraries_BOS_SFO_Q: Q_sales[BOS_SFO] <= 55
 itineraries_BOS_SFO_Y: Y_sales[BOS_SFO] <= 40
 itineraries_BOS_LAX_Q: Q_sales[BOS_LAX] <= 65
 itineraries_BOS_LAX_Y: Y_sales[BOS_LAX] <= 25
 itineraries_JFK_ORD_Q: Q_sales[JFK_ORD] <= 24
 itineraries_JFK_ORD_Y: Y_sales[JFK_ORD] <= 16
 itineraries_JFK_SFO_Q: Q_sales[JFK_SFO] <= 65
 itineraries_JFK_SFO_Y: Y_sales[JFK_SFO] <= 50
 itineraries_JFK_LAX_Q: Q_sales[JFK_LAX] <= 40
 itineraries_JFK_LAX_Y: Y_sales[JFK_LAX] <= 35
 itineraries_ORD_SFO_Q: Q_sales[ORD_SFO] <= 21
 itineraries_ORD_SFO_Y: Y_sales[ORD_SFO] <= 50
 itineraries_ORD_LAX_Q: Q_sales[ORD_LAX] <= 25
 itineraries_ORD_LAX_Y: Y_sales[ORD_LAX] <= 14
 BOS_ORD_Flight: Q_sales[BOS_ORD] + Q_sales[BOS_SFO] + Q_sales[BOS_LAX]
   + Y_sales[BOS_ORD] + Y_sales[BOS_SFO] + Y_sales[BOS_LAX] <= 200
 JFK_ORD_Flight: Q_sales[JFK_ORD] + Q_sales[JFK_SFO] + Q_sales[JFK_LAX]
   + Y_sales[JFK_ORD] + Y_sales[JFK_SFO] + Y_sales[JFK_LAX] <= 200
 ORD_SFO_Flight: Q_sales[BOS_SFO] + Q_sales[JFK_SFO] + Q_sales[ORD_SFO]
   + Y_sales[BOS_SFO] + Y_sales[JFK_SFO] + Y_sales[ORD_SFO] <= 200
 ORD_LAX_Flight: Q_sales[BOS_LAX] + Q_sales[JFK_LAX] + Q_sales[ORD_LAX]
   + Y_sales[BOS_LAX] + Y_sales[JFK_LAX] + Y_sales[ORD_LAX] <= 200
Bounds
End

## Solve the model

In [ ]:
m.optimize()

Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (win64)

CPU model: Intel(R) Core(TM) i9-10980XE CPU @ 3.00GHz, instruction set [SSE2|AVX|AVX2|AVX512]
Thread count: 18 physical cores, 36 logical processors, using up to 18 threads

Optimize a model with 20 rows, 16 columns and 40 nonzeros
Model fingerprint: 0xcc49b0a9
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [2e+02, 6e+02]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+01, 2e+02]
Presolve removed 16 rows and 0 columns
Presolve time: 0.01s
Presolved: 4 rows, 16 columns, 24 nonzeros

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    2.3461000e+05   7.237500e+01   0.000000e+00      0s
       7    1.8285000e+05   0.000000e+00   0.000000e+00      0s

Solved in 7 iterations and 0.02 seconds (0.00 work units)
Optimal objective  1.828500000e+05

## Print the solution

In [ ]:
for i in all_itineraries:
    print(f"Route {i:<15s} Q-class: {Q_tickets_sold[i].X:.2f} \t  Y-class: {Y_tickets_sold[i].X:.2f}")

Route BOS_ORD         Q-class: 25.00 	  Y-class: 20.00
Route BOS_SFO         Q-class: 25.00 	  Y-class: 40.00
Route BOS_LAX         Q-class: 65.00 	  Y-class: 25.00
Route JFK_ORD         Q-class: 24.00 	  Y-class: 16.00
Route JFK_SFO         Q-class: 35.00 	  Y-class: 50.00
Route JFK_LAX         Q-class: 40.00 	  Y-class: 35.00
Route ORD_SFO         Q-class: 0.00 	  Y-class: 50.00
Route ORD_LAX         Q-class: 21.00 	  Y-class: 14.00

# Q2.
Let's extract the information on all the constraints.

In [ ]:
# display information on all the constraints
allConstraints = m.getConstrs()

all_constr_data = [ [c.ConstrName, m.getRow(c).getValue(), c.Sense, c.RHS, c.Slack, \
                     c.Pi, c.SARHSLow, c.SARHSUp ] for c in allConstraints ]

# convert into a dataframe and print
df = pd.DataFrame(all_constr_data, columns=["Constraint Name", "LHS Value", "Sense", "RHS Value", "Slack", "Shadow Price",\
                                           "Lower Limit RHS", "Upper Limit RHS"])
display(df)

,Constraint Name,LHS Value,Sense,RHS Value,Slack,Shadow Price,Lower Limit RHS,Upper Limit RHS
0,itineraries_BOS_ORD_Q,25.0,<,25.0,0.0,100.0,25.0,29.0
1,itineraries_BOS_ORD_Y,20.0,<,20.0,0.0,120.0,20.0,24.0
2,itineraries_BOS_SFO_Q,25.0,<,55.0,30.0,0.0,25.0,inf
3,itineraries_BOS_SFO_Y,40.0,<,40.0,0.0,100.0,10.0,65.0
4,itineraries_BOS_LAX_Q,65.0,<,65.0,0.0,40.0,65.0,90.0
5,itineraries_BOS_LAX_Y,25.0,<,25.0,0.0,130.0,25.0,50.0
6,itineraries_JFK_ORD_Q,24.0,<,24.0,0.0,60.0,24.0,28.0
7,itineraries_JFK_ORD_Y,16.0,<,16.0,0.0,100.0,16.0,20.0
8,itineraries_JFK_SFO_Q,35.0,<,65.0,30.0,0.0,35.0,inf
9,itineraries_JFK_SFO_Y,50.0,<,50.0,0.0,130.0,20.0,85.0
10,itineraries_JFK_LAX_Q,40.0,<,40.0,0.0,0.0,40.0,inf
11,itineraries_JFK_LAX_Y,35.0,<,35.0,0.0,100.0,35.0,75.0
12,itineraries_ORD_SFO_Q,0.0,<,21.0,21.0,0.0,0.0,inf
13,itineraries_ORD_SFO_Y,50.0,<,50.0,0.0,10.0,46.0,50.0
14,itineraries_ORD_LAX_Q,21.0,<,25.0,4.0,0.0,21.0,inf
15,itineraries_ORD_LAX_Y,14.0,<,14.0,0.0,40.0,10.0,35.0
16,BOS_ORD_Flight,200.0,<,200.0,0.0,100.0,196.0,200.0
17,JFK_ORD_Flight,200.0,<,200.0,0.0,190.0,196.0,200.0
18,ORD_SFO_Flight,200.0,<,200.0,0.0,220.0,200.0,204.0
19,ORD_LAX_Flight,200.0,<,200.0,0.0,260.0,179.0,204.0